@import 'base/base';

html {
  color: #000;
  background: #fff;
}
body {
  .wrap {
    display: flex;

    border: 1px solid #ccc;
    border-radius: 10px;
    .item1 {
      flex: 1;
    }
    .item2 {
      flex: 2;
    }
  }
}
